* {
    margin: 0;   /*elimina el margen predeterminado*/
    padding: 0;  /*elimina el relleno*/
    box-sizing: border-box;  /*incluye el padding y el borde en el ancho y alto total*/
    font-family: "Roboto", sans-serif;   /*establece el tipo de fuente*/
}

body {
    background: #000;
}

body::before { /*establece una capa de fondo*/
    content: "";  /*crea un contenido vacio para la capa de fondo*/
    position: absolute;  /*posiciona de forma absoluta el cuerpo*/
    left: 0; /*alinea la capa a la izquierda*/
    top: 0;  /*alinea la capa a la parte superior*/
    opacity: 0.7;  /*establece la opacidad de la capa*/
    width: 100%; /*establece el ancho completo*/
    height: 100%; /*alto completo*/
    background: url(img/fondo3.jpeg) no-repeat center center; /*imagen de fondo queda centrado y fijo*/
    background-size: cover;  /*ajusta la imagen para cubrir todo el fondo*/
}

.logo {
    position: absolute;  /*posiciona el logo de forma absoluta*/
    top: 10px; /*ajusta la posicion vertical del logo*/
    left: 80px; /*ajusta la posicion horizontal del logo*/
    width: 120px;  /*ancho del logo*/
}

.form-wrapper {  /*estilos del contenedor del formulario*/
    position: absolute; /*posiciona de forma absoluta*/
    left: 50%;  /*alinea el centro horizontalmente*/
    top: 50%;  /*alinea el centro verticalmente*/
    transform: translate(-50%, -50%); /*centra el contenedor en ambas direcciones*/
    border-radius: 4px;  /*bordes redondeados*/
    padding: 70px;  /*anade relleno de forma interna*/
    width: 450px; /*ancho fijo del contenedor*/
    background: rgb(0, 0, 0, 0.75); /*fondo negro semitransparente*/
}

.form-wrapper h2 { /*estilos del encabezado del contenedor formulario*/
    color: #fff; /*color del texto en blanco*/
    font-size: 2rem;  /*tamano de fuente*/
    margin-bottom: 25px;  /*espacio inferior del encabezado*/
}

.form-control { /*estilo de los controles del formulario*/
    height: 50px; /*altura fija para los campos del formulario*/
    position: relative;  /*posiciona de forma relativa para los elementos hijos o internos*/
    margin-bottom: 16px; /*margen superior entre controles*/
}

.form-control input {
    height: 100%;  /*altura completa*/
    width: 100%; /*ancho completo*/
    background: #333;  /*fondo gris oscuro*/
    border: none;  /*sin bordes*/
    border-radius: 4px;  /*bordes redondeados*/
    color: #fff;  /*texto blanco en el campo de entrada*/
    font-size: 1rem;  /*tamano de fuente*/
    padding: 0 20px; /*relleno de fuente*/
    opacity: 0.7; /*opacidad de campo*/
}

.form-control input:focus{
    background: #444;  /*fondo ligeramente mas claro cuando enfoca*/
}

.form-control label {
    position: absolute;  /*posiciona de forma absoluta dentro del campo*/
    left: 20px;  /*alinea la etiqueta a la izquierda*/
    top: 50%;  /*alinea de forma vertical la etiqueta*/
    transform: translateY(-50%);  /*ajusta la posicion vertical*/
    color: #8c8c8c; /*color gris claro suave*/
    transition: all 0.1s ease; /*transicion suave para cambios*/
}

.form-control input:focus ~ label,
.form-control input:valid ~ label {
    font-size: 0.75rem; /*tamano de fuente reducido*/
    transform: translateY(-130%);  /*mueve la etiqueta hacia arriba*/
}

form button {/*estilos del boton*/
    width: 100%;  /*ancho completo para el boton*/
    padding: 16px;  /*relleno vertical del boton*/
    font-size: 1rem;  /*tamano de fuente*/
    background: #e50914; /*fondo rojo para el boton*/
    color: #fff; /*color de texto*/
    border-radius: 4px; /*bordes redondeados*/
    border: none; /*sin bordes*/
    cursor: pointer; /*cambia el cursor a puntero*/
    transition: 0.1s ease;  /*transicion suave para cambios*/
    margin: 25px 0 10px; /*margenes superior e inferior*/
}

form button:hover{
    background: #c40812; /*rojo oscuro*/
}

.form-wrapper a {  /*estilos del enlace al pasar el mouse*/
    color: #fff; /*color del enlace*/
    /*text-decoration: none; sin su*/
}

.form-help {
    display: flex; /*disposicion en flexbox*/
    flex-direction: column; /*elementos uno sobre otro*/
    align-items: flex-start; /*alinear a la iquierda*/
}

.login-container {
    width: 100%; /*ancho completo*/
    margin-bottom: 10px;  /*espacio interior del contenedor*/
}

.login-button {
    background-color: rgba(255, 255, 255, 0.1);  /*fondo gris con opacidad para el boton*/
    color: white;  /*color del texto*/
    border: 1px solid rgba(255, 255, 255, 0.3);  /*borde blanco con opacidad*/
    padding: 10px;  /*relleno interno del boton*/
    font-size: 16px; /*tamano de fuente o texto*/
    cursor: pointer; /*cambia el puntero*/
    border-radius: 5px;  /*bordes redondeados*/
    transition: background-color 0.3s border-color 0.3s;  /*transicion suave para el fondeo y borde*/
}

.login-button:hover {
    background-color: rgba(255, 255, 255, 0.3);  /*fondo mas claro al pasar el mouse*/
    border-color: rgba(255, 255, 255, 0.6);  /*borde mas claro al pasar el raton*/
}

.remember-me {
    display: flex;  /*disposicion en flex*/
    align-items: center; /*alinear verticalmente*/
    margin-top: 10px; /*espacio superior*/
}

.remember-me input {
    margin-right: 5px;  /*margen a la derecha del checkbox*/
}

.form-wrapper small {
    display: block; /*muestra como el bloque ocupa todo el ancho*/
    margin-top: 15px;  /*margen superior*/
    color: #b3b3b3; /*color claro*/
}

.form-wrapper small a {
    color: #0071eb; /*color azul para los enlaces*/
}

.remember-me label {
    color: #fff; /*cambia a blanco para la etiqueta recuerdame*/
}

.form-wrapper p {
    color: #b3b3b3; /*cambia a gris claro para el texto*/
}

.form-help p {
    text-align: center; /*centrado del texto*/
    width: 100%; /*ancho completo para centrar correctamente*/
    color: #b3b3b3; /*color gris*/
    
}


/*forma responsiva*/
@media (max-width: 740px) {  /*maximo de ancho*/
    boddy::before {
        display: none;  /*oculta el fondo en patalla pequenas*/
    }
    .form-wrapper {
        width: 90%; /*ancho del formulario en pantalla pequena*/
        padding: 20px; /*rellen reducido en pantalla pequena*/
    }
}

    #error-msg {
      color: red;
      text-align: center;
      margin-top: 10px;
    }